.m-header {
    display: flex;
    position: relative;
    width: 100%;
    height: 48px;
}

.m-header-left {
    display: flex;
    align-items: center;
    width: 226px;
    height: 100%;
    border-right: 1px solid #bbb;
}

.m-sitebar {
    width: 24px;
    height: 24px;
    background-image: url(../../assets/img/toggle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    padding-right: 10px;
}

.m-logo {
    height: 24px;
    width: calc(100% - 34px);
    background-image: url(../../assets/img/cukcuk-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.m-header-right {
    display: flex;
    height: 100%;
    width: calc(100% - 226px);
    border-bottom: 1px solid #bbb;
    align-items: center;
    justify-content: space-between;
}
.m-header-right-section{
    align-items: center;
    display: flex;
}

select {
    border: 0;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    padding: 0 16px;
    outline: unset;
}

.m-account {
    display: flex;
    align-items: center;
    float: right !important;
}

.m-account-avatar {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    background-image: url(../../assets/icon/avatar-default.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
}

.m-account-name {
    margin-right: 16px;

}

.m-account-setting{
    width: 24px;
    height: 24px;
    margin-right: 16px;
    background-image: url(../../assets/icon/option.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
}